body{
  background-color: whitesmoke;
}
html{
  scroll-behavior: smooth;
}

ul{
  list-style: none;
  padding: 0%;
}

.tools{
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
  border-radius: 25px;
}

#avatar{
  width:200px;
 border-radius: 50%;
}

*{
  font-family: 'Roboto', sans-serif;
}

h1, h2{
font-family:  'Montserrat', sans-serif;
color: #007bff;

}

#landing{
height: 87vh;
margin-top: 70px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#gallery{
  height: 87vh;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/* bootstrap override */

.jumbotron{
  background-color: lightgrey;
}